<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context-3.0.xsd
    					http://code.alibabatech.com/schema/dubbo
    					http://souche.oss-cn-hangzhou.aliyuncs.com/files/dubbo/dubbo.xsd">
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-consumer"  />

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="192.168.170.129:2181" protocol="zookeeper"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <!--<dubbo:protocol name="dubbo" port="20880" />-->
    <!--配置注解扫描(可以使用注解也可以使用引入)-->
    <!--<dubbo:annotation package="com.cheyipai.service.impl"/>-->
    <!--引入需要的服务-->
    <dubbo:reference id="demoService" interface="com.cheyipai.DemoService"/>
    <!-- 配置 dao 层自动扫描包 -->
    <context:component-scan base-package="com.cheyipai.service"></context:component-scan>
</beans>